<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <httpRuntime relaxedUrlToFileSystemMapping="true"/>
    </system.web>
  <system.webServer>
	<!-- TO-DO: Investigate proper use of FastCGI if still needed ...
    <handlers>
      <add name="PHP-FastCGI" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="D:\Program Files (x86)\PHP\v7.4\php-cgi.exe" resourceType="Either" requireAccess="Script" responseBufferLimit="0" />
    </handlers>
	-->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <!-- BEGIN: Redirects to SRL -->
        <rule name="Redirect home" stopProcessing="true">
          <match url="^/?$" />
          <action type="Redirect" url="https://selfhelp.courts.ca.gov/appeals" redirectType="Permanent" />
        </rule>
        <rule name="Redirect knowledge center" stopProcessing="true">
          <match url="^knowledge-center/?$" />
          <action type="Redirect" url="https://selfhelp.courts.ca.gov/appeals" redirectType="Permanent" />
        </rule>
        <rule name="Redirect timeline" stopProcessing="true">
          <match url="^appeals-timeline/?$" />
          <action type="Redirect" url="https://selfhelp.courts.ca.gov/appeals/steps" redirectType="Permanent" />
        </rule>
        <rule name="Redirect forms" stopProcessing="true">
          <match url="^knowledge-center/forms/?$" />
          <action type="Redirect" url="https://selfhelp.courts.ca.gov/appeals/forms" redirectType="Permanent" />
        </rule>
        <rule name="Redirect prepare documents" stopProcessing="true">
          <match url="^prepare-documents/?$" />
          <action type="Redirect" url="https://selfhelp.courts.ca.gov/appeals/forms" redirectType="Permanent" />
        </rule>
        <rule name="Redirect appealable order" stopProcessing="true">
          <match url="^appeals-timeline/appealable-order/?$" />
          <action type="Redirect" url="https://selfhelp.courts.ca.gov/appeals/step-1" redirectType="Permanent" />
        </rule>
        <rule name="Redirect notice of appeal" stopProcessing="true">
          <match url="^appeals-timeline/notice-of-appeal/?$" />
          <action type="Redirect" url="https://selfhelp.courts.ca.gov/appeals/step-2" redirectType="Permanent" />
        </rule>
        <rule name="Redirect designating record" stopProcessing="true">
          <match url="^appeals-timeline/designating-the-record/?$" />
          <action type="Redirect" url="https://selfhelp.courts.ca.gov/appeals/step-3-designating-record" redirectType="Permanent" />
        </rule>
        <rule name="Redirect additional filings" stopProcessing="true">
          <match url="^appeals-timeline/additional-filings/?$" />
          <action type="Redirect" url="https://selfhelp.courts.ca.gov/appeals/step-3-additional-filings" redirectType="Permanent" />
        </rule>
        <rule name="Redirect opening brief" stopProcessing="true">
          <match url="^appeals-timeline/opening-brief/?$" />
          <action type="Redirect" url="https://selfhelp.courts.ca.gov/appeals/step-4-opening-brief" redirectType="Permanent" />
        </rule>
        <rule name="Redirect respondents brief" stopProcessing="true">
          <match url="^appeals-timeline/respondents-brief/?$" />
          <action type="Redirect" url="https://selfhelp.courts.ca.gov/appeals/step-4-respondents-brief" redirectType="Permanent" />
        </rule>
        <rule name="Redirect reply brief" stopProcessing="true">
          <match url="^appeals-timeline/reply-brief/?$" />
          <action type="Redirect" url="https://selfhelp.courts.ca.gov/appeals/step-4-reply-brief" redirectType="Permanent" />
        </rule>
        <rule name="Redirect oral argument" stopProcessing="true">
          <match url="^appeals-timeline/oral-argument/?$" />
          <action type="Redirect" url="https://selfhelp.courts.ca.gov/appeals/step-5-oral-argument" redirectType="Permanent" />
        </rule>
        <rule name="Redirect court opinion" stopProcessing="true">
          <match url="^appeals-timeline/court-opinion/?$" />
          <action type="Redirect" url="https://selfhelp.courts.ca.gov/appeals/step-6" redirectType="Permanent" />
        </rule>
        <rule name="Redirect petition rehearing" stopProcessing="true">
          <match url="^appeals-timeline/petition-for-rehearing/?$" />
          <action type="Redirect" url="https://selfhelp.courts.ca.gov/appeals/step-7-petition-rehearing" redirectType="Permanent" />
        </rule>
        <rule name="Redirect petition review" stopProcessing="true">
          <match url="^appeals-timeline/petition-for-review/?$" />
          <action type="Redirect" url="https://selfhelp.courts.ca.gov/appeals/step-7-petition-review" redirectType="Permanent" />
        </rule>
        <rule name="Redirect remittitur" stopProcessing="true">
          <match url="^appeals-timeline/remittitur/?$" />
          <action type="Redirect" url="https://selfhelp.courts.ca.gov/appeals/step-7-remittitur" redirectType="Permanent" />
        </rule>
        <rule name="Redirect KC appealable order" stopProcessing="true">
          <match url="^knowledge-center/appealable-order/?$" />
          <action type="Redirect" url="https://selfhelp.courts.ca.gov/appeals/step-1" redirectType="Permanent" />
        </rule>
        <rule name="Redirect KC notice of appeal" stopProcessing="true">
          <match url="^knowledge-center/notice-of-appeal/?$" />
          <action type="Redirect" url="https://selfhelp.courts.ca.gov/appeals/step-2" redirectType="Permanent" />
        </rule>
        <rule name="Redirect KC designating record" stopProcessing="true">
          <match url="^knowledge-center/designating-the-record/?$" />
          <action type="Redirect" url="https://selfhelp.courts.ca.gov/appeals/step-3-designating-record" redirectType="Permanent" />
        </rule>
        <rule name="Redirect KC additional filings" stopProcessing="true">
          <match url="^knowledge-center/additional-filings/?$" />
          <action type="Redirect" url="https://selfhelp.courts.ca.gov/appeals/step-3-additional-filings" redirectType="Permanent" />
        </rule>
        <rule name="Redirect KC opening brief" stopProcessing="true">
          <match url="^knowledge-center/opening-brief/?$" />
          <action type="Redirect" url="https://selfhelp.courts.ca.gov/appeals/step-4-opening-brief" redirectType="Permanent" />
        </rule>
        <rule name="Redirect KC respondents brief" stopProcessing="true">
          <match url="^knowledge-center/respondents-brief/?$" />
          <action type="Redirect" url="https://selfhelp.courts.ca.gov/appeals/step-4-respondents-brief" redirectType="Permanent" />
        </rule>
        <rule name="Redirect KC reply brief" stopProcessing="true">
          <match url="^knowledge-center/reply-brief/?$" />
          <action type="Redirect" url="https://selfhelp.courts.ca.gov/appeals/step-4-reply-brief" redirectType="Permanent" />
        </rule>
        <rule name="Redirect KC oral argument" stopProcessing="true">
          <match url="^knowledge-center/oral-argument/?$" />
          <action type="Redirect" url="https://selfhelp.courts.ca.gov/appeals/step-5-oral-argument" redirectType="Permanent" />
        </rule>
        <rule name="Redirect KC court opinion" stopProcessing="true">
          <match url="^knowledge-center/court-opinion/?$" />
          <action type="Redirect" url="https://selfhelp.courts.ca.gov/appeals/step-6" redirectType="Permanent" />
        </rule>
        <rule name="Redirect KC petition rehearing" stopProcessing="true">
          <match url="^knowledge-center/petition-for-rehearing/?$" />
          <action type="Redirect" url="https://selfhelp.courts.ca.gov/appeals/step-7-petition-rehearing" redirectType="Permanent" />
        </rule>
        <rule name="Redirect KC petition review" stopProcessing="true">
          <match url="^knowledge-center/petition-for-review/?$" />
          <action type="Redirect" url="https://selfhelp.courts.ca.gov/appeals/step-7-petition-review" redirectType="Permanent" />
        </rule>
        <rule name="Redirect KC remittitur" stopProcessing="true">
          <match url="^knowledge-center/remittitur/?$" />
          <action type="Redirect" url="https://selfhelp.courts.ca.gov/appeals/step-7-remittitur" redirectType="Permanent" />
        </rule>
        <rule name="Redirect videos" stopProcessing="true">
          <match url="^knowledge-center/videos/?$" />
          <action type="Redirect" url="https://selfhelp.courts.ca.gov/appeals/videos" redirectType="Permanent" />
        </rule>
        <rule name="Redirect glossary" stopProcessing="true">
          <match url="^knowledge-center/glossary/?$" />
          <action type="Redirect" url="https://selfhelp.courts.ca.gov/appeals/glossary" redirectType="Permanent" />
        </rule>
        <!-- END -->

	    <rule name="Forms PDF Rewrite" stopProcessing="true">
	      <match url="^forms/(.*)\.pdf$" />
          <action type="Redirect" redirectType="Permanent" url="https://www.courts.ca.gov/documents/{R:1}.pdf" />
	    </rule>
        <rule name="AEM-Content" stopProcessing="true">
            <match url="^content/?(.*)" />
            <action type="Rewrite" url="https://judca-stage1.adobemsbasic.com/content/{R:1}" />
        </rule>
        <rule name="AEM-Etc" stopProcessing="true">
            <match url="^etc?(.*)" />
            <action type="Rewrite" url="https://judca-stage1.adobemsbasic.com/etc{R:1}" />
        </rule>
        
        <rule name="AEM-Lib" stopProcessing="true">
            <match url="^libs/?(.*)" />
            <action type="Rewrite" url="https://judca-stage1.adobemsbasic.com/libs/{R:1}" />
        </rule>
        <rule name="Redirect to https">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="Off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
        </rule>

        <rule name="WordPress: https://selfhelp.appellate.courts.ca.gov" patternSyntax="Wildcard">
          <match url="*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" />
        </rule>
        <rule name="wp super cache" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
            <add input="{QUERY_STRING}" pattern=".*=.*" negate="true" />
            <add input="{QUERY_STRING}" pattern=".*attachment_id=.*" negate="true" />
            <add input="{HTTP_COOKIE}" pattern="^.*(comment_author_|wordpress|wp-postpass_).*$" negate="true" />
            <add input="{HTTP_USER_AGENT}" pattern="^.*(2.0\ MMP|240x320|400X240|AvantGo|BlackBerry|Blazer|Cellphone|Danger|DoCoMo|Elaine/3.0|EudoraWeb|Googlebot-Mobile|hiptop|IEMobile|KYOCERA/WX310K|LG/U990|MIDP-2.|MMEF20|MOT-V|NetFront|Newt|Nintendo\ Wii|Nitro|Nokia|Opera\ Mini|Palm|PlayStation\ Portable|portalmmm|Proxinet|ProxiNet|SHARP-TQ-GX10|SHG-i900|Small|SonyEricsson|Symbian\ OS|SymbianOS|TS21i-10|UP.Browser|UP.Link|webOS|Windows\ CE|WinWAP|YahooSeeker/M1A1-R2D2|iPhone|iPod|Android|BlackBerry9530|LG-TU915\ Obigo|LGE\ VX|webOS|Nokia5800).*" negate="true" />
            <add input="{DOCUMENT_ROOT}/wp-content/cache/supercache/{HTTP_HOST}/{R:1}index.html" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="wp-content/cache/supercache/{HTTP_HOST}/{R:1}index.html" />
        </rule>
      </rules>
    </rewrite>
    <caching>
      <profiles>
        <add extension="*" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="00:00:30" />
      </profiles>
    </caching>
    <staticContent>
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
      <mimeMap fileExtension="woff2" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>
  <location path="favicon.ico"></location>
  <location path="wp-admin/admin-ajax.php">
    <system.webServer>
      <security>
        <!-- restrict ajax api to jcc office for the time being -->
        <ipSecurity allowUnlisted="false">
          <add ipAddress="63.202.171.132" allowed="true" />
          <add ipAddress="63.192.171.132" allowed="true" />
        </ipSecurity>
      </security>
    </system.webServer>
  </location>
</configuration>