<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <httpRuntime relaxedUrlToFileSystemMapping="true"/>
    </system.web>
  <system.webServer>
    <handlers>
      <add name="PHP-FastCGI" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="D:\Program Files (x86)\PHP\v7.4\php-cgi.exe" resourceType="Either" requireAccess="Script" responseBufferLimit="0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
	    <rule name="Forms PDF Rewrite" stopProcessing="true">
	      <match url="^forms/(.*)\.pdf$" />
          <action type="Redirect" redirectType="Permanent" url="https://www.courts.ca.gov/documents/{R:1}.pdf" />
	    </rule>
        <rule name="AEM-Content" stopProcessing="true">
            <match url="^content/?(.*)" />
            <action type="Rewrite" url="https://judca-stage1.adobemsbasic.com/content/{R:1}" />
        </rule>
        <rule name="AEM-Etc" stopProcessing="true">
            <match url="^etc?(.*)" />
            <action type="Rewrite" url="https://judca-stage1.adobemsbasic.com/etc{R:1}" />
        </rule>
        
        <rule name="AEM-Lib" stopProcessing="true">
            <match url="^libs/?(.*)" />
            <action type="Rewrite" url="https://judca-stage1.adobemsbasic.com/libs/{R:1}" />
        </rule>
        <rule name="Redirect to https">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="Off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
        <rule name="WordPress: https://selfhelp.appellate.courts.ca.gov" patternSyntax="Wildcard">
          <match url="*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" />
        </rule>
        <rule name="wp super cache" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
            <add input="{QUERY_STRING}" pattern=".*=.*" negate="true" />
            <add input="{QUERY_STRING}" pattern=".*attachment_id=.*" negate="true" />
            <add input="{HTTP_COOKIE}" pattern="^.*(comment_author_|wordpress|wp-postpass_).*$" negate="true" />
            <add input="{HTTP_USER_AGENT}" pattern="^.*(2.0\ MMP|240x320|400X240|AvantGo|BlackBerry|Blazer|Cellphone|Danger|DoCoMo|Elaine/3.0|EudoraWeb|Googlebot-Mobile|hiptop|IEMobile|KYOCERA/WX310K|LG/U990|MIDP-2.|MMEF20|MOT-V|NetFront|Newt|Nintendo\ Wii|Nitro|Nokia|Opera\ Mini|Palm|PlayStation\ Portable|portalmmm|Proxinet|ProxiNet|SHARP-TQ-GX10|SHG-i900|Small|SonyEricsson|Symbian\ OS|SymbianOS|TS21i-10|UP.Browser|UP.Link|webOS|Windows\ CE|WinWAP|YahooSeeker/M1A1-R2D2|iPhone|iPod|Android|BlackBerry9530|LG-TU915\ Obigo|LGE\ VX|webOS|Nokia5800).*" negate="true" />
            <add input="{DOCUMENT_ROOT}/wp-content/cache/supercache/{HTTP_HOST}/{R:1}index.html" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="wp-content/cache/supercache/{HTTP_HOST}/{R:1}index.html" />
        </rule>
      </rules>
    </rewrite>
    <caching>
      <profiles>
        <add extension="*" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="00:00:30" />
      </profiles>
    </caching>
    <staticContent>
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
      <mimeMap fileExtension="woff2" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>
  <location path="favicon.ico"></location>
</configuration>